/* .hero-box {
  background-color: var(--bs-body-bg);
  color: var(--bs-body-color);
  border: 1px solid var(--bs-border-color);
  backdrop-filter: blur(6px); /* joli effet verre dépoli */
  /* max-width: 400px;
} */ 
/* Style global pour tous les titres */
h1, h2, h3, h4, h5, h6 {
  font-family: "Segoe UI", Arial, sans-serif;
  font-weight: bold;
  text-align: center;      
  margin-bottom: 20px;
  color: #222;            
}


h1 {
  font-size: 2.2rem;
  color: #dc3545;          
  text-transform: uppercase;
  letter-spacing: 1px;      
}


h2 {
  font-size: 1.6rem;
  color: #0d6efd;          
  margin-top: 15px;
}

.hero-box {
  background: rgba(0,0,0,0.5);
  color: #fff;
  max-width: 600px;
  width: 90%;
  margin: auto;
  text-align: center;
  padding: 1rem;
  border-radius: .5rem;
}
