<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {# Logo (navbar-brand) #}
        <a class="navbar-brand" href="{{ path('app_home') }}">
            <img
                src="{{ asset('assets/images/logo.svg') }}"
                alt="FitProgress Logo"
                width="150"
            />
        </a>

        {# Bouton mobile #}
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        {# Menu #}
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_home_admin') }}"
                        >Dashboard</a
                    >
                </li>

        
                    
    

            {# User Menu #}
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('app_logout') }}">
                        <i class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
