<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/669576/pexels-photo-669576.jpeg" 
           class="d-block w-100 img-fluid object-fit-cover" 
           alt="Slide 1" style="height:70vh;">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/5327511/pexels-photo-5327511.jpeg" 
           class="d-block w-100 img-fluid object-fit-cover" 
           alt="Slide 2" style="height:70vh;">
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/8032920/pexels-photo-8032920.jpeg" 
           class="d-block w-100 img-fluid object-fit-cover" 
           alt="Slide 3" style="height:70vh;">
    </div>
  </div>
</div>
